@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$primary-dark-color: #242424;
$primary-light-color: #EBEBEB;
$light-color: #DFDFDF;
$lighter-color: #DEDEDE;
$red-color: #C15D46;
$green-color: #7E979A;

$primary-font: 'Montserrat', sans-serif;