@import "./theme-variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: $primary-font;
  background-color: $primary-light-color;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  overflow-wrap: break-word;
  color: $primary-dark-color;
}

p{
  overflow-wrap: break-word;
  opacity: .8;
  margin: 5px 0;
  font-size: 16px;
  color: $primary-dark-text-color;


}

ul,
ol{
  list-style: none;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: $primary-dark-color;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  color: $primary-dark-text-color;


}

input,
button,
textarea,
select {
  font: inherit;
}

strong {
  font-weight: bolder;
}

:where(button, [type='button' i], [type='reset' i], [type='submit' i]) {
  -webkit-appearance: button;
}

small {
  font-size: 80%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom;
}

textarea {
  white-space: revert;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

/*  Remove all animations, transitions and smooth scroll */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.box{
  width: 100%;
  display: flex;
  justify-content: center;
  //padding: 30px 0;
}

.container{
  width:100%;
  display: flex;


  &-column{
    flex-direction: column;
  }
}

.wrap{
  min-height: 100vh;

  &.full-height{
    //min-height: 100vh;

  }
  &-full-width{
    width: 100%;
  }

  &-part-width{
    width: 70%;
  }
}