@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$primary-color: #242424;
$light-color: #DFDFDF;
$white-color: #EBEBEB;
$red-color: #C15D46;
$green-color: #7E979A;

$primary-font: 'Montserrat', sans-serif;